[D-BUS Service]
Name=org.webosinternals.ledservice
Exec=/usr/bin/luna-helper 'luna://com.palm.vm/launch' '{"serviceName":"org.webosinternals.ledservice","className":"org.webosinternals.ledservice.LEDService"}'